
.login-page{
  align-items: center;

  h2{
    margin-bottom: 1.5rem;
  }

}


.dashboard-page{
  padding: 3rem 0;

  .left-container{
    width: 40%;
    @include flex-box();
    //background: #efefef;

    &.centered-content{
      width: 50%;
      margin: 0 auto;
    }

    .chat-wrapper{
      width: 100%;
      height: inherit;

      .chat-box{
        @include calc('height', '100% - 3.4rem');
        //@include flex-box-center();
        padding: 0 2rem 0 5rem;
        overflow-y: scroll;

        h2{
          margin-bottom: 1.5rem;
        }

        ul.chat-list-wrapper{
          //height: 100px;
          position: relative;
          top: 40%;

          li{
            display: block;

            &:first-child{
              .message{
                color: #111;
                background: transparent;
                padding: 0rem;
              }

              .reply{
                display: none;
              }
            }

            .message{
              margin-top: 3rem;
              position: relative;
              opacity: 0;
              background: #ab00ff;
              color: #fff;
              display: inline-block;
              padding: 1rem 2.5rem;
              border-radius: 2rem;
              border-bottom-left-radius: 0;
            }

            .reply{
              margin-top: 3rem;
              position: relative;
              opacity: 0;
              background: #efefef;
              padding: 1rem 2.5rem;
              border-radius: 2rem;
              border-bottom-right-radius: 0;
            }

            &:last-child{

                margin-bottom: 15rem;

            }
          }
        }
      }

      .chat-input-area{
        @include flex-box();
        font-size: $default-font-size;

        input#chat-text{
          font-size: inherit;
        }

        button.chat-btn{
          width: 150px;
          font-size: inherit;
          display: none;
        }
      }
    }

  }

  .right-container{
    width: 60%;
    display: none;

  }
}
